@model HouseRentManagementSystem.ViewModel.PropertyModel
@{
    ViewBag.Title = "AddProperty";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Form Name -->
<style>
    .form-control {
        width: 70%;
        margin-left: 15%;
    }

    .row {
        margin-left:5%;
    }
</style>
<body>
    <div><br>
<legend style="text-align:center;width:60%;margin-left:18%;"> ADD PROPERTY</legend>
<div style="margin-left:23%;font-size:1.1vw;margin-top:0%; ">
    @using (Html.BeginForm("SavePropertyDetails", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <!--<div style="color:red;margin-left:50px;"></div>-->
        <div class="row">
            <!--Show details are saved successfully message-->
            <div class="col-lg-6">@ViewBag.Message</div>
        </div>
        <div class="row">
            <!--Show details are saved successfully message-->
        </div><br /><br>
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertyName)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyName, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertyType)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertyType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyType, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Status)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.Status, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })
                <div class="col-lg-12" style="color:red;">@ViewBag.Message</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Rent)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.Rent, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Rent, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertySize)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertySize, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertySize, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertyAmenities)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertyAmenities, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyAmenities, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>


        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertySpecifications)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertySpecifications, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertySpecifications, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>


        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertyRooms)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertyRooms, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyRooms, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.Propertyblacony)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.Propertyblacony, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Propertyblacony, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertyBathrooms)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertyBathrooms, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyBathrooms, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertyAddress)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertyAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyAddress, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>


        <div class="row">
            <div class="col-lg-2">@Html.LabelFor(a => a.PropertyDescription)</div>
            <div class="col-lg-6">
                @Html.TextBoxFor(a => a.PropertyDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyDescription, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;margin-left:8%;" })

            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                @Html.HiddenFor(a => a.SellerName, new { Value = @Convert.ToString(Session["Name"]) })

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                @Html.HiddenFor(a => a.SEmail, new { Value = @Convert.ToString(Session["SEmail"]) })

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                @Html.HiddenFor(a => a.SPhoneno, new { Value = @Convert.ToString(Session["SPhone"]) })

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                
                @{
                    var base64 = Convert.ToBase64String(ViewBag.image);
                    @Html.HiddenFor(a => a.SImage, new { Value = base64 })
                }
            </div>
        </div>
        
        <div class="form-group" style="margin-left:5%;">
            @Html.LabelFor(a => a.PropertyImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <br>
                <input type="file" name="files" id="files" style="margin-left:10%;" />
                @Html.ValidationMessageFor(model => model.PropertyImage, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
            </div>
        </div>


        <div class="form-group" style="margin-left:5%;">
            <div class="control-label col-md-2" style="font-weight:bold;">
                HouseImages
            </div>
            <div class="col-md-10">
                <br>
                <input type="file" name="images" id="images" style="margin-left:10%;" multiple="multiple" />
                @Html.ValidationMessageFor(model => model.PropertyImage, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
            </div>
        </div>

        <div>
            <input type="submit" value="ADD" class="btn btn-primary" style="font-size:1.1vw;padding:10px 20px 10px 20px;margin-top:2%;border:none;margin-left:265px;" />
        </div><br>
    }
</div>
</div>
</body>