@model IEnumerable<HouseRentManagementSystem.Models.RegisterCustomer>

@{
    ViewBag.Title = "TopSellers";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<style>
    table, th, td {
        border: 1.5px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px 0px 10px 0px;
        word-wrap: break-word;
    }

    td {
        text-align: center;
        font-family: sans-serif;
    }

    th {
        background-color: lightblue;
        color: black;
        padding: 20px;
        font-weight: unset;
    }

    td {
        padding: 15px 15px 15px 15px;
    }

    .k {
        background-color: white;
        border: 1px solid white;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 16px;
        padding: 5px;
        margin-top: 1%;
        height: 20px;
        width: 100px;
        text-decoration: none;
        margin-left: 2%;
        text-align: center;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }
</style>
<p class="k">

</p>
<legend style="text-align:center;width:60%;margin-left:20%;margin-top:-2%;font-size:25px;">TOP SELLERS</legend>

<table style="margin-top:1%;margin-left:20%;">
    <tr>
        <th>Id</th>
        <th>Seller Image</th>
        <th>Seller Name</th>
        <th>Seller Email</th>
        <th>Seller PhoneNumber</th>
        <th>Number Of Booking</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @i
            </td>

            <td>

                @{
                    var imageDataURL = "";

                    if (item.ProfileImage != null)
                    {
                        string imageBase64Data = Convert.ToBase64String(item.ProfileImage);
                        imageDataURL = string.Format("data:image/jpeg;base64,{0}", imageBase64Data);
                        <img src="@imageDataURL" style="height:100px; width:100px;border-radius:50%;">

                    }

                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)@Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCount)
            </td>
        </tr>
        
                        i++;
                    }
</table>
