@model HouseRentManagementSystem.ViewModel.Register
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<style>
    import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    section {
        position: relative;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

        section .container {
            position: relative;
            width: 800px;
            height: 900px;
            background: #fff;
            box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

            section .container .user {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
            }

                section .container .user .imgBx {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    transition: 0.5s;
                }

                    section .container .user .imgBx img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                section .container .user .formBx {
                    position: relative;
                    width: 50%;
                    height: 100%;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 40px;
                    transition: 0.5s;
                }

                    section .container .user .formBx form h2 {
                        font-size: 18px;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        text-align: center;
                        width: 100%;
                        margin-bottom: 10px;
                        color: #555;
                    }

                    section .container .user .formBx form input[type='submit'] {
                        max-width: 100px;
                        background: #677eff;
                        color: #fff;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        transition: 0.5s;
                    }

                    section .container .user .formBx form .signup {
                        position: relative;
                        margin-top: 20px;
                        font-size: 12px;
                        letter-spacing: 1px;
                        color: #555;
                        text-transform: uppercase;
                        font-weight: 300;
                    }

                        section .container .user .formBx form .signup a {
                            font-weight: 600;
                            text-decoration: none;
                            color: #677eff;
                        }

            section .container .signupBx {
                pointer-events: none;
            }

            section .container.active .signupBx {
                pointer-events: initial;
            }

            section .container .signupBx .formBx {
                left: 100%;
            }

            section .container.active .signupBx .formBx {
                left: 0;
            }

            section .container .signupBx .imgBx {
                left: -100%;
            }

            section .container.active .signupBx .imgBx {
                left: 0%;
            }

            section .container .signinBx .formBx {
                left: 0%;
            }

            section .container.active .signinBx .formBx {
                left: 100%;
            }

            section .container .signinBx .imgBx {
                left: 0%;
            }

            section .container.active .signinBx .imgBx {
                left: -100%;
            }

    media (max-width: 991px) {
        section .container

    {
        max-width: 400px;
    }

    section .container .imgBx {
        display: none;
    }

    section .container .user .formBx {
        width: 100%;
    }

    }

    .wrapper {
        display: inline-block;
        position: relative;
    }

    .form-control {
        height: 5vh;
        display: block;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        resize: none;
    }

    .reveal-eye1 {
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        right: 1px;
        top: 1px;
        bottom: 1px;
        z-index: 2;
        width: 25px;
        height: 20px;
        background: url(https://dtzbdy9anri2p.cloudfront.net/cache/b55f544d09a0872a74b4427ce1fe18dd78418396/telerik/img/dist/reveal-password.png) no-repeat;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s ease 0s, visibility 0s linear .2s;
        right: -12%;
        margin-top: 137%;
    }

    .reveal-eye {
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        right: 1px;
        bottom: 1px;
        z-index: 2;
        width: 25px;
        height: 20px;
        background: url(https://dtzbdy9anri2p.cloudfront.net/cache/b55f544d09a0872a74b4427ce1fe18dd78418396/telerik/img/dist/reveal-password.png) no-repeat;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s ease 0s, visibility 0s linear .2s;
        left: 79%;
        margin-top: 120%;
    }

    .reveal-eye1.is-visible1 {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease 0s, visibility 0s linear 0s;
        margin-right: 28%;
        top: 6px;
    }

    .reveal-eye.is-visible {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: opacity .2s ease 0s, visibility 0s linear 0s;
        margin-right: 28%;
        top: 6px;
    }

    .forget {
        margin-left: 1%;
        margin-top: 5%;
        width: 200%;
    }

    a.navbar-brand-for {
        color: blue;
        font-size: initial;
    }

    .r {
        top: 40%;
        right: 56px;
        position: relative;
        font-size: 12px;
        letter-spacing: 1px;
        color: #555;
        text-transform: uppercase;
        font-weight: 300;
        width: 300%;
        display: block;
        margin-inline-start: -176px;
        margin-inline-end: 0px;
    }

    .r1 {
        top: 40%;
        right: 55px;
        position: relative;
        font-size: 12px;
        letter-spacing: 1px;
        color: #555;
        text-transform: uppercase;
        font-weight: 300;
        width: 300%;
        display: block;
        margin-inline-start: -176px;
        margin-inline-end: 0px;
    }

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    body {
        margin-top: 10px;
        background-position: center;
        background-size: cover;
        height: 100vh;
        font-family: sans-serif;
        user-select: none;
    }

    nav .logo {
        color: white;
        font-size: 32px;
        font-family: sans-serif;
        line-height: 70px;
        padding-left: 110px;
    }

    label {
        font-weight: 500;
    }

    nav {
        height: 70px;
        margin-top: -10px;
        background: #434343;
        box-shadow: 0 3px 15px rgba(0,0,0,.4);
    }

        nav ul {
            float: right;
            margin-right: 30px;
        }

            nav ul li {
                display: inline-block;
            }

                nav ul li a {
                    color: white;
                    display: block;
                    padding: 0 15px;
                    line-height: 70px;
                    font-size: 20px;
                    background: #434343;
                    transition: .5s;
                }

                    nav ul li a:hover,
                    nav ul li a.active {
                        color: #23dbdb;
                    }

            nav ul ul {
                position: absolute;
                top: 85px;
                border-top: 3px solid #23dbdb;
                opacity: 0;
                visibility: hidden;
            }

            nav ul li:hover > ul {
                top: 70px;
                opacity: 1;
                visibility: visible;
                transition: .3s linear;
            }

            nav ul ul li {
                width: 150px;
                display: list-item;
                position: relative;
                border: 1px solid #042331;
                border-top: none;
            }

                nav ul ul li a {
                    line-height: 50px;
                }

            nav ul ul ul {
                border-top: none;
            }

                nav ul ul ul li {
                    position: relative;
                    top: -70px;
                    left: 150px;
                }

            nav ul ul li a i {
                margin-left: 45px;
            }

    a.navbar-brand {
        font-size: 25px;
        margin-top: 0px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function checkShowPasswordVisibility() {
        var $revealEye = $(this).parent().find(".reveal-eye");
        if (this.value) {
            $revealEye.addClass("is-visible");
        } else {
            $revealEye.removeClass("is-visible");
        }
    }

    $(document).ready(function () {
        var txtPassword = document.getElementById('passwordTextBox');
        var $revealEye = $('<span class="reveal-eye"></span>')
        $(txtPassword).parent().append($revealEye);
        $(txtPassword).on("keyup", checkShowPasswordVisibility)

        $revealEye.on({
            mousedown: function () { txtPassword.setAttribute("type", "text") },
            mouseup: function () { txtPassword.setAttribute("type", "password") },
            mouseout: function () { txtPassword.setAttribute("type", "password") }
        });
    })
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function checkShowPasswordVisibility1() {
        var $revealEye = $(this).parent().find(".reveal-eye1");
        if (this.value) {
            $revealEye.addClass("is-visible1");
        } else {
            $revealEye.removeClass("is-visible1");
        }
    }

    $(document).ready(function () {
        var txtPassword = document.getElementById('passwordTextBox1');
        var $revealEye = $('<span class="reveal-eye1"></span>')
        $(txtPassword).parent().append($revealEye);
        $(txtPassword).on("keyup", checkShowPasswordVisibility1)

        $revealEye.on({
            mousedown: function () { txtPassword.setAttribute("type", "text") },
            mouseup: function () { txtPassword.setAttribute("type", "password") },
            mouseout: function () { txtPassword.setAttribute("type", "password") }
        });
    })
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function checkShowPasswordVisibility2() {
        var $revealEye = $(this).parent().find(".reveal-eye");
        if (this.value) {
            $revealEye.addClass("is-visible");
        } else {
            $revealEye.removeClass("is-visible");
        }
    }

    $(document).ready(function () {
        var txtPassword = document.getElementById('passwordTextBox2');
        var $revealEye = $('<span class="reveal-eye"></span>')
        $(txtPassword).parent().append($revealEye);
        $(txtPassword).on("keyup", checkShowPasswordVisibility2)

        $revealEye.on({
            mousedown: function () { txtPassword.setAttribute("type", "text") },
            mouseup: function () { txtPassword.setAttribute("type", "password") },
            mouseout: function () { txtPassword.setAttribute("type", "password") }
        });
    })
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function checkShowPasswordVisibility3() {
        var $revealEye = $(this).parent().find(".reveal-eye1");
        if (this.value) {
            $revealEye.addClass("is-visible1");
        } else {
            $revealEye.removeClass("is-visible1");
        }
    }

    $(document).ready(function () {
        var txtPassword = document.getElementById('passwordTextBox3');
        var $revealEye = $('<span class="reveal-eye1"></span>')
        $(txtPassword).parent().append($revealEye);
        $(txtPassword).on("keyup", checkShowPasswordVisibility3)

        $revealEye.on({
            mousedown: function () { txtPassword.setAttribute("type", "text") },
            mouseup: function () { txtPassword.setAttribute("type", "password") },
            mouseout: function () { txtPassword.setAttribute("type", "password") }
        });
    })
</script>
<body>
    <nav>
        <label class="logo">House Rent Management System</label>
        <ul>
            <li>
                @if (Request.IsAuthenticated)
                {

                    @Html.ActionLink("LogOut", "Logout", "Account", new { @class = "navbar-brand" })
                }
                else
                {

                    @Html.ActionLink("Login", "Login", "Account", new { @class = "navbar-brand" })
                }
            </li>

            <li>
                @if (!Request.IsAuthenticated)
                {
                    @Html.ActionLink("Register", "Register", "Account", new { @class = "navbar-brand" })
                }

            </li>
        </ul>
    </nav>
    <section>

        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"><img src="~/Content/Images/Renter.jpg" alt="" /></div>
                <div class="formBx">

                    <div style="margin-left:10%;font-size:1.1vw;margin-top:-50%; ">
                        @using (Html.BeginForm("SaveRegisterUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <!--<div style="color:red;margin-left:50px;"></div>-->
                            

                            <div class="col-lg-12" style="color:green;margin-top:1%;font-size:small;">@ViewBag.Saved</div>
                            <h1 style="margin-left:25%;margin-top:50px;">SELLER</h1>
                            <div class="row">
                                <!--Show details are saved successfully message-->
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.FirstName)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.LastName)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", style = "padding-right:90px;" })

                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div><br />

                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.Email)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                    <div class="col-lg-12" style="color:red;">@ViewBag.Message1</div>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.PhoneNumber)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })

                                </div>
                            </div><br />

                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.Aadharno)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.Aadharno, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.Aadharno, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.Password)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control", id = "passwordTextBox", type = "Password", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })

                                </div>
                            </div><br />


                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.ConfirmPassword)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control", id = "passwordTextBox1", type = "Password", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })

                                </div>
                            </div><br />

                            <div class="form-group" style="margin-left:5px;">
                                @Html.LabelFor(a => a.ProfileImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <br>
                                    <input type="file" name="image" id="image" style="margin-left:42px;" />
                                    @Html.ValidationMessageFor(model => model.ProfileImage, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div>


                            <div>
                                <input type="submit" value="Register" class="btn btn-primary" style="font-size:1.1vw;padding:10px 20px 10px 20px;margin-top:5%;border:none;margin-left:80px;" />
                            </div>
                        }

                    </div>
                    <div class="r">
                        <p class="signup">
                            HOUSE FOR RENT !
                            <a href="#" onclick="toggleForm();" style="text-decoration:none;color:blue;">RENT</a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="user signupBx">
                <div class="formBx">
                    <div style="margin-left:10%;font-size:1.1vw;margin-top:-50%;  ">
                        @using (Html.BeginForm("SaveRegisterDetails", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <!--<div style="color:red;margin-left:50px;"></div>-->
                            <div class="row">
                                <!--Show details are saved successfully message-->
                                <div class="col-lg-12">@ViewBag.Message</div>
                            </div><br />
                            <h1 style="margin-left:25%;margin-top:50px;">CUSTOMER</h1>
                            <div class="row">
                                <!--Show details are saved successfully message-->
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.FirstName)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.LastName)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div><br />

                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.Email)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                    <div class="col-lg-12" style="color:red;">@ViewBag.Message</div>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.PhoneNumber)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })

                                </div>
                            </div><br />

                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.Aadharno)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.Aadharno, new { @class = "form-control", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.Aadharno, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.Password)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control", id = "passwordTextBox2", type = "Password", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })

                                </div>
                            </div><br />


                            <div class="row">
                                <div class="col-lg-2">@Html.LabelFor(a => a.ConfirmPassword)</div>
                                <div class="col-lg-10">
                                    @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control", id = "passwordTextBox3", type = "Password", style = "padding-right:90px;" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })

                                </div>
                            </div><br />

                            <div class="form-group" style="margin-left:5px;">
                                @Html.LabelFor(a => a.ProfileImage, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <br>
                                    <input type="file" name="image" id="image" style="margin-left:42px;" />
                                    @Html.ValidationMessageFor(model => model.ProfileImage, "", new { @class = "text-danger", style = "font-size:0.8vw;color:red;white-space: normal ;resize:none;" })
                                </div>
                            </div>
                            <div>
                                <input type="submit" value="Register" class="btn btn-primary" style="font-size:1.1vw;padding:10px 20px 10px 20px;margin-top:5%;border:none;margin-left:80px;" />
                            </div>
                        }

                    </div>
                    <div class="r1">
                        <p class="signup">
                            HOUSE FOR SALE !
                            <a href="#" onclick="toggleForm();" style="text-decoration:none;color:blue;">SALE</a>
                        </p>
                    </div>
                </div>
                <div class="imgBx"><img src="https://image.freepik.com/free-vector/illustration-real-estate-rental-sign-vector_53876-3842.jpg" alt="" /></div>
            </div>
        </div>

    </section>

    <script id="rendered-js">
        const toggleForm = () => {
            const container = document.querySelector('.container');
            container.classList.toggle('active');
        };
    </script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

